<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="" version="" manuallyInstalled="true" />
  <package id="IKVM" version="8.10.3" manuallyInstalled="true" />
  <package id="MessagePack" version="3.1.0" manuallyInstalled="true" />
  <package id="MessagePack.Annotations" version="3.1.0" />
  <package id="MessagePackAnalyzer" version="3.1.0" />
  <package id="Microsoft.Maui.Essentials" version="9.0.30" manuallyInstalled="true" />
  <package id="Microsoft.Maui.Graphics" version="9.0.30" />
  <package id="Microsoft.NET.StringTools" version="17.11.4" />
  <package id="System.Collections.Immutable" version="8.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="Xamarin.Essentials" version="1.8.1" manuallyInstalled="true" />
</packages>